header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.875rem 0;
  background: var(--beige-100);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  color: var(--black-300);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;

    font-family: var(--playfair);
    font-weight: 400;
    font-size: var(--text-xs);

    span {
      margin-left: 0.2rem;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 4rem 2rem;

    font-family: var(--roboto);
    font-weight: 400;
    font-size: var(--text-sm);

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    & .drawer-btn {
      @media (min-width: 768px) {
        display: none;
      }
      display: inline-block;
    }
  }
}
