.hero {
  overflow: hidden;
  margin-bottom: 5rem;
  @media (max-width: 992px) {
    margin-bottom: 3rem;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-direction: column;
      text-align: center;
    }
  }
}

.hero-content {
  --title-before-width: 3.125rem;
  @media (max-width: 992px) {
    --title-before-width: 0;
  }
  width: 45%;

  @media (max-width: 992px) {
    width: 100%;
    margin-bottom: 2rem;
  }

  &__title {
    position: relative;
    padding-left: calc(var(--title-before-width) + 0.375rem);
    font-family: var(--playfair);
    font-size: 2.8125rem;
    margin-bottom: 1rem;
    @include line(var(--title-before-width));

    @media (max-width: 992px) {
      &::before {
        content: none;
      }
    }
  }

  &__subtitle {
    font-family: var(--playfair);
    font-size: 1.875rem;
    margin-bottom: 2.5rem;
    padding-left: calc(var(--title-before-width) + 0.375rem);

    @media(max-width: 992px) {
      margin-bottom: 1rem;
    }
  }

  &__desc {
    width: 78%;
    font-family: var(--roboto);
    font-weight: 300;
    font-size: var(--text-sm);
    line-height: 1.5rem;
    opacity: 80%;
    margin-bottom: 3rem;
    padding-left: calc(var(--title-before-width) + 0.375rem);

    @media (max-width: 992px) {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 992px) {
      margin-bottom: 2rem;
    }
  }

  &__more {
    border: 2px solid transparent;
    background: var(--black-600);
    margin-left: calc(var(--title-before-width) + 0.375rem);

    &:hover {
      border: 2px solid var(--black-900);
      background: var(--white);
      color: var(--black-900);
    }
  }
}

.hero-product {
  position: relative;
  padding-right: 3%;
  background: var(--beige-100);

  @media (max-width: 1100px) {
    padding-right: 0;
  }
  @media (max-width: 992px) {
    padding-top: 2rem;
    transform: translateX(25%);
  }
  @media (max-width: 768px) {
    transform: translateX(0);
  }

  &__image {
    max-width: 100%;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
  }

  &__price {
    --price-before-width: 3.125rem;

    position: absolute;
    top: 8rem;
    left: 0;
    transform: translateX(-50%);

    @media (max-width: 576px) {
      top: 0;
      transform: translateX(0);
    }

    &-inner {
      position: relative;
      font-family: var(--prata);
      padding-left: calc(var(--price-before-width) + 0.375rem);

      @include line(var(--price-before-width));
    }
  }

  &__info {
    --info-before-width: 3.125rem;

    position: absolute;
    bottom: 8rem;
    right: 0;

    @media (max-width: 576px) {
      top: 0;
      bottom: initial;
    }

    &-inner {
      position: relative;
      font-family: var(--prata);
      padding-left: calc(var(--info-before-width) + 0.375rem);

      @include line(var(--info-before-width));
    }
  }
}
