:root {
  --white: #fff;
  --black-900: #1b1a17;
  --black-600: #444240;
  --black-300: #555248;
  --beige-100: "#FDFDFB";
  --beige-200: #f7f5ef;
  --beige-600: #d4b098;

  --text-xs: 0.75rem; // 12px
  --text-sm: 0.875rem; // 14px
  --text-base: 1rem; // 16px

  --playfair: "Playfair Display", sans-serif;
  --roboto: "Roboto", sans-serif;
}
